body{
  background-color: lightgray;
  margin: 0px;
}


header{
  background-color: rgba(76, 231, 205, 0.479);
  height: 100px;
  padding: 20px;
  padding-left: 100px;
}
h1{
  margin: 0;
}
header div{
  background-color:  rgba(76, 231, 205, 0.479);
}

footer{
   background-color:  rgba(76, 231, 205, 0.479);
}


/*div{
  background-color: rgb(196, 196, 184);
  height:50px;
  width: 70px;
  display: inline-block;
 /*  margin: 100px;
  margin-top:50px;
  margin-bottom:50px; 
  margin-left: 70px;
  margin-right: 70px; 
   margin: top right bottom left  */
  /*margin:  50px 70px 50px 60px;*/
   
  /*padding-left: 10px; */ 


img{ 
  background-color: rgb(224, 222, 222);
  height:100px;
  width: 150px;
  display: inline-block;
 /* margin:  50px 70px 50px 60px; */

  padding-right: 35px;



}
h4{
  display: inline-block;

/* margin:  50px 70px 50px 60px; */

  padding-right: 35px;
}
/* css selectors  */

/* id : */ 

#P{
  background-color: blue
}

/* class : */

#red{
  background-color: red
}
.orange{
  background-color: orange;
}

/* main section #secondP p{
  background-color: white;
} */

/* p{
  background-color: red
}


p{
  background-color: green
} */


span{
  background-color: purple;
  /* display: block; */
}

#inside{
  color: white
}